[submodule "tools/lcc-sirius"]
	path = tools/lcc-sirius
	url = https://github.com/uri-nyx/lcc-sirius.git
[submodule "software/akai/naimen/libeui"]
	path = software/akai/naimen/libeui
	url = https://github.com/erysdren/eui.git
[submodule "software/akai/naimen/fe"]
	path = software/akai/naimen/fe
	url = https://github.com/ooichu/fe.git
