# --- Build Artifacts ---
build/
bin/
x64/
x86/
*.exe
*.out
*.app
*.o
*.obj
*.pdb
*.ilk
*.lib
*.a
*.so
*.dll

akai.tps
*.tps
*.bin
tps_a/*
tps_b/*
t.c
t_t.c
t.s
sh.s
t5.c
ttt.c 

# --- Taleä Specific Binaries ---
# Don't track generated firmware or disk images
resources/*.bin
resources/*.tps
resources/emulated/devices/hcs/*.hcs
firmware.bin

# --- IDE & System ---
.vscode/
.vs/
.DS_Store
*.swp
*.user
Talea/

# --- External Libraries ---
# If you are compiling raylib or others from source 
# and don't want the build artifacts tracked
external/*/build/
external/*/bin/
raylib_src/
resources/emulated/firmware/bios.bin
resources/tps_images/*
*.map
__.SYMDEF
software/akai/naimen/aksh/sh
exec_log.txt
software/akai/naimen/libc/plauger/**
exec_log.txt
software/akai/naimen/fe
crt0.o
*.o
