.vscode
src/monitor
src/lib/termbox/termbox.o
src/tele
src/tools/casm/test.txt
src/tools/casm/__pycache__/frontend.cpython-39.pyc
src/tools/casm/__pycache__/casm_backend.cpython-39.pyc
src/tools/casm/__pycache__/casm_frontend.cpython-39.pyc
src/emu
src/tools/tln/__pycache__/tln.cpython-39.pyc
